{
  "openapi": "3.1.0",
  "info": {
    "title": "TinyAnalytics API",
    "version": "1.0.0",
    "description": "The TinyAnalytics HTTP API. Read your analytics, manage sites and goals, and drive feature flags, experiments, and surveys. Every call is authenticated with an API key sent as `Authorization: Bearer <key>`."
  },
  "servers": [
    {
      "url": "https://dash.tinyanalytics.io/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "sites",
      "x-group": "Sites",
      "description": "Read and update a site, its tracking config, its exclusions, and its private link."
    },
    {
      "name": "organizations",
      "x-group": "Organizations",
      "description": "List the organizations you belong to and the sites inside them, and create new sites."
    },
    {
      "name": "overview",
      "x-group": "Overview",
      "description": "Headline metrics, time series, and dimension breakdowns for a site."
    },
    {
      "name": "events",
      "x-group": "Events",
      "description": "Custom events, their property breakdowns, and the live event log."
    },
    {
      "name": "errors",
      "x-group": "Errors",
      "description": "JavaScript errors captured from your site, grouped by error name."
    },
    {
      "name": "goals",
      "x-group": "Goals",
      "description": "Define, measure, and manage conversion goals matched on a page path or event name."
    },
    {
      "name": "funnels",
      "x-group": "Funnels",
      "description": "Build and measure multi-step conversion funnels, including step drop-off."
    },
    {
      "name": "revenue",
      "x-group": "Revenue",
      "description": "Revenue totals and breakdowns from the revenue you attach to events."
    },
    {
      "name": "performance",
      "x-group": "Performance",
      "description": "Core Web Vitals for a site, over time and broken down by dimension."
    },
    {
      "name": "heatmaps",
      "x-group": "Heatmaps",
      "description": "Pages with heatmap data, binned click and rage-click intensity, and cumulative scroll reach."
    },
    {
      "name": "sessions",
      "x-group": "Sessions",
      "description": "The session list and the full pageview and event timeline of one session."
    },
    {
      "name": "users",
      "x-group": "Users",
      "description": "The identified-user list and one user's profile, activity, and sessions."
    },
    {
      "name": "user-traits",
      "x-group": "User Traits",
      "description": "Read and write the traits attached to an identified user."
    },
    {
      "name": "segments",
      "x-group": "Segments",
      "description": "Saved filter sets you can apply across reports."
    },
    {
      "name": "cohorts",
      "x-group": "Cohorts",
      "description": "Behavioral cohorts defined by the actions visitors took."
    },
    {
      "name": "groups",
      "x-group": "Groups",
      "description": "Group analytics — accounts, companies, or workspaces a user belongs to."
    },
    {
      "name": "catalog",
      "x-group": "Catalog",
      "description": "The inventory of event names, event properties, and traits seen on a site, with their descriptions and verified marks."
    },
    {
      "name": "bots",
      "x-group": "Bots",
      "description": "Bot and AI-crawler traffic, including the per-layer detection counts."
    },
    {
      "name": "alerts",
      "x-group": "Alerts",
      "description": "Threshold alerts that notify you when a metric moves."
    },
    {
      "name": "annotations",
      "x-group": "Annotations",
      "description": "Dated notes drawn on your dashboard charts to mark what changed."
    },
    {
      "name": "surveys",
      "x-group": "Surveys",
      "description": "In-product surveys and their responses."
    },
    {
      "name": "feature-flags",
      "x-group": "Feature Flags",
      "description": "Feature flags, their rollout rules, and flag evaluation for a given user."
    },
    {
      "name": "experiments",
      "x-group": "Experiments",
      "description": "A/B experiments built on feature flags, and their results."
    },
    {
      "name": "dashboards",
      "x-group": "Dashboards",
      "description": "Custom dashboards and the widgets on them."
    },
    {
      "name": "custom-query",
      "x-group": "Custom Query",
      "description": "Run read-only SQL against your site's analytics data."
    },
    {
      "name": "reports",
      "x-group": "Reports",
      "description": "Scheduled email report subscriptions, including sending one on demand."
    },
    {
      "name": "search-console",
      "x-group": "Search Console",
      "description": "Google Search Console search analytics for a connected site."
    },
    {
      "name": "uptime-monitors",
      "x-group": "Uptime — Monitors",
      "description": "HTTP and TCP uptime monitors and their check history."
    },
    {
      "name": "uptime-channels-incidents",
      "x-group": "Uptime — Channels & Incidents",
      "description": "Uptime notification channels and the incidents raised against your monitors."
    },
    {
      "name": "retention-journeys",
      "x-group": "Retention & Journeys",
      "description": "Cohort retention curves and the page-to-page paths visitors take."
    }
  ],
  "paths": {
    "/sites/{site}": {
      "get": {
        "operationId": "get-sites-site",
        "summary": "Get Site",
        "description": "Returns details for a specific site",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      },
      "patch": {
        "operationId": "patch-sites-site",
        "summary": "Update Site",
        "description": "Updates a site's name, domain, public flag, surveys toggle, or reporting currency. Requires admin/owner role.",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "public": {
                    "type": "boolean"
                  },
                  "reportingCurrency": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "name": "My Website",
                "public": true,
                "reportingCurrency": "USD"
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-sites-site",
        "summary": "Delete Site",
        "description": "Permanently deletes a site and all its data. Requires admin/owner role.",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/has-data": {
      "get": {
        "operationId": "get-sites-site-has-data",
        "summary": "Get Site Has Data",
        "description": "Returns whether the site has received analytics events",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/is-public": {
      "get": {
        "operationId": "get-sites-site-is-public",
        "summary": "Get Site Public Status",
        "description": "Returns whether the site is publicly accessible",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/public-meta": {
      "get": {
        "operationId": "get-sites-site-public-meta",
        "summary": "Get Site Public Meta",
        "description": "Returns the site's display name and domain (used by shared-dashboard embeds)",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/move": {
      "put": {
        "operationId": "put-sites-site-move",
        "summary": "Move Site",
        "description": "Moves the site to another organization. Requires admin/owner role in both organizations.",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "organizationId": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "organizationId": "org_abc123"
              }
            }
          }
        }
      }
    },
    "/sites/{site}/config": {
      "put": {
        "operationId": "put-sites-site-config",
        "summary": "Update Site Config",
        "description": "Updates tracking/config settings. Requires admin/owner role.",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "public": {
                    "type": "boolean"
                  },
                  "blockBots": {
                    "type": "boolean"
                  },
                  "excludedCountries": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "public": true,
                "blockBots": true,
                "excludedCountries": [
                  "CN",
                  "RU"
                ]
              }
            }
          }
        }
      }
    },
    "/sites/{site}/excluded-ips": {
      "get": {
        "operationId": "get-sites-site-excluded-ips",
        "summary": "Get Excluded IPs",
        "description": "Returns the list of excluded IP addresses",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/excluded-countries": {
      "get": {
        "operationId": "get-sites-site-excluded-countries",
        "summary": "Get Excluded Countries",
        "description": "Returns the list of excluded country codes",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/private-link-config": {
      "get": {
        "operationId": "get-sites-site-private-link-config",
        "summary": "Get Private Link Config",
        "description": "Returns the private link key configuration",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      },
      "post": {
        "operationId": "post-sites-site-private-link-config",
        "summary": "Update Private Link",
        "description": "Generates or revokes a private link key. Requires admin/owner role.",
        "tags": [
          "sites"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "action": "generate_private_link_key"
              }
            }
          }
        }
      }
    },
    "/organizations": {
      "get": {
        "operationId": "get-organizations",
        "summary": "Get My Organizations",
        "description": "Returns all organizations the authenticated user is a member of, including all members for each organization",
        "tags": [
          "organizations"
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/organizations/{organizationId}/sites": {
      "post": {
        "operationId": "post-organizations-organizationId-sites",
        "summary": "Create Site",
        "description": "Creates a new site in an organization. Requires admin/owner role.",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "Example: org_abc123.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "public": {
                    "type": "boolean"
                  },
                  "blockBots": {
                    "type": "boolean"
                  },
                  "excludedIPs": {
                    "type": "array",
                    "items": {}
                  },
                  "excludedCountries": {
                    "type": "array",
                    "items": {}
                  },
                  "sessionReplay": {
                    "type": "boolean"
                  },
                  "webVitals": {
                    "type": "boolean"
                  },
                  "trackErrors": {
                    "type": "boolean"
                  },
                  "trackOutbound": {
                    "type": "boolean"
                  },
                  "trackUrlParams": {
                    "type": "boolean"
                  },
                  "trackInitialPageView": {
                    "type": "boolean"
                  },
                  "trackSpaNavigation": {
                    "type": "boolean"
                  },
                  "trackIp": {
                    "type": "boolean"
                  },
                  "trackButtonClicks": {
                    "type": "boolean"
                  },
                  "trackCopy": {
                    "type": "boolean"
                  },
                  "trackFormInteractions": {
                    "type": "boolean"
                  },
                  "tags": {
                    "type": "array",
                    "items": {}
                  }
                }
              },
              "example": {
                "domain": "example.com",
                "name": "My Website",
                "public": false,
                "blockBots": true,
                "excludedIPs": [],
                "excludedCountries": [],
                "sessionReplay": false,
                "webVitals": false,
                "trackErrors": false,
                "trackOutbound": true,
                "trackUrlParams": true,
                "trackInitialPageView": true,
                "trackSpaNavigation": true,
                "trackIp": false,
                "trackButtonClicks": false,
                "trackCopy": false,
                "trackFormInteractions": false,
                "tags": []
              }
            }
          }
        }
      },
      "get": {
        "operationId": "get-organizations-organizationId-sites",
        "summary": "Get Organization Sites",
        "description": "Returns all sites in an organization visible to the authenticated user",
        "tags": [
          "organizations"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "in": "path",
            "required": true,
            "description": "Example: org_abc123.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/overview": {
      "get": {
        "operationId": "get-sites-site-overview",
        "summary": "Get Overview",
        "description": "Returns high-level analytics metrics for a site",
        "tags": [
          "overview"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "compare",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previous_weekday",
                "previous",
                "year",
                "custom"
              ]
            }
          },
          {
            "name": "compare_start_date",
            "in": "query",
            "required": false,
            "description": "Comparison Start Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compare_end_date",
            "in": "query",
            "required": false,
            "description": "Comparison End Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/overview/bucketed": {
      "get": {
        "operationId": "get-sites-site-overview-bucketed",
        "summary": "Get Overview (Time Series)",
        "description": "Returns time-series analytics data broken down by time buckets",
        "tags": [
          "overview"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "five_minutes",
                "ten_minutes",
                "fifteen_minutes",
                "hour",
                "day",
                "week",
                "month",
                "year"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/timeseries": {
      "get": {
        "operationId": "get-sites-site-timeseries",
        "summary": "Get Time Series",
        "description": "Returns time-series analytics data for a specific metric, optionally with a period-over-period comparison",
        "tags": [
          "overview"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "metric",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "five_minutes",
                "ten_minutes",
                "fifteen_minutes",
                "hour",
                "day",
                "week",
                "month",
                "year"
              ]
            }
          },
          {
            "name": "compare",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previous_weekday",
                "previous",
                "year",
                "custom"
              ]
            }
          },
          {
            "name": "compare_start_date",
            "in": "query",
            "required": false,
            "description": "Comparison Start Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compare_end_date",
            "in": "query",
            "required": false,
            "description": "Comparison End Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/breakdown": {
      "get": {
        "operationId": "get-sites-site-breakdown",
        "summary": "Get Breakdown",
        "description": "Returns dimensional analytics broken down by a specific dimension, optionally with a period-over-period comparison",
        "tags": [
          "overview"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "dimension",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pathname",
                "country",
                "region",
                "browser",
                "operating_system",
                "device_type"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Example: 10.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example: 1.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "compare",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previous_weekday",
                "previous",
                "year",
                "custom"
              ]
            }
          },
          {
            "name": "compare_start_date",
            "in": "query",
            "required": false,
            "description": "Comparison Start Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compare_end_date",
            "in": "query",
            "required": false,
            "description": "Comparison End Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/page-titles": {
      "get": {
        "operationId": "get-sites-site-page-titles",
        "summary": "Get Page Titles",
        "description": "Returns page title metrics with pagination",
        "tags": [
          "overview"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Example: 10.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example: 1.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "compare",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previous_weekday",
                "previous",
                "year",
                "custom"
              ]
            }
          },
          {
            "name": "compare_start_date",
            "in": "query",
            "required": false,
            "description": "Comparison Start Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compare_end_date",
            "in": "query",
            "required": false,
            "description": "Comparison End Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/landing-pages": {
      "get": {
        "operationId": "get-sites-site-landing-pages",
        "summary": "Get Landing Pages",
        "description": "Returns entry pages with the landed sessions' bounce rate and average duration, with pagination",
        "tags": [
          "overview"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Example: 10.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example: 1.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "compare",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previous_weekday",
                "previous",
                "year",
                "custom"
              ]
            }
          },
          {
            "name": "compare_start_date",
            "in": "query",
            "required": false,
            "description": "Comparison Start Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compare_end_date",
            "in": "query",
            "required": false,
            "description": "Comparison End Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/user-acquisition": {
      "get": {
        "operationId": "get-sites-site-user-acquisition",
        "summary": "Get User Acquisition",
        "description": "GA4-style first-touch user acquisition: users attributed to the channel/source/medium/campaign of their first-ever session, with new-vs-returning classification (table) or new users per bucket (timeseries)",
        "tags": [
          "overview"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "dimension",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pathname",
                "country",
                "region",
                "browser",
                "operating_system",
                "device_type"
              ]
            }
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "reached",
                "dropped"
              ]
            }
          },
          {
            "name": "audience",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "five_minutes",
                "ten_minutes",
                "fifteen_minutes",
                "hour",
                "day",
                "week",
                "month",
                "year"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Example: 10.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "compare",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "previous_weekday",
                "previous",
                "year",
                "custom"
              ]
            }
          },
          {
            "name": "compare_start_date",
            "in": "query",
            "required": false,
            "description": "Comparison Start Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "compare_end_date",
            "in": "query",
            "required": false,
            "description": "Comparison End Date. Example: YYYY-MM-DD (custom only).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/live": {
      "get": {
        "operationId": "get-sites-site-live",
        "summary": "Get Live Visitors",
        "description": "Returns the count of active sessions within the specified time window",
        "tags": [
          "overview"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minutes",
            "in": "query",
            "required": false,
            "description": "Example: 5.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/embed-stats": {
      "get": {
        "operationId": "get-sites-site-embed-stats",
        "summary": "Get Embed Stats",
        "description": "Public embed-widget stats: live-visitor count over a fixed window, with optional mini-chart series and top countries",
        "tags": [
          "overview"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "minutes",
            "in": "query",
            "required": false,
            "description": "Example: 5.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "chart",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/events": {
      "get": {
        "operationId": "get-sites-site-events",
        "summary": "Get Events",
        "description": "Without event_name: custom event names with counts. With event_name: that event's property key/value breakdown.",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "event_name",
            "in": "query",
            "required": false,
            "description": "Example: e.g., purchase.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Example: 10.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/events/bucketed": {
      "get": {
        "operationId": "get-sites-site-events-bucketed",
        "summary": "Get Event Time Series",
        "description": "Returns time-series counts for top custom events; accepts the same activity constraints (q, event_types, event_names, event_props) as the event log",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "five_minutes",
                "ten_minutes",
                "fifteen_minutes",
                "hour",
                "day",
                "week",
                "month",
                "year"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Example: 10.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_names",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_props",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/events/log": {
      "get": {
        "operationId": "get-sites-site-events-log",
        "summary": "Get Event Log",
        "description": "Returns individual events (newest first, capped by limit) with composite-cursor pagination, directions, and server-side search/type/name/property filters",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Example: 10.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_names",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_props",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "before_timestamp",
            "in": "query",
            "required": false,
            "description": "Example: ISO 8601, e.g. 2024-01-31T14:00:00.000Z.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/events/log/{eventId}": {
      "get": {
        "operationId": "get-sites-site-events-log-eventId",
        "summary": "Get Event",
        "description": "Returns one site-scoped event by its event_id (uniform 404 for unknown, zero, or other-site IDs)",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/events/outbound": {
      "get": {
        "operationId": "get-sites-site-events-outbound",
        "summary": "Get Outbound Links",
        "description": "Returns outbound link clicks with occurrence counts",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/events/downloads": {
      "get": {
        "operationId": "get-sites-site-events-downloads",
        "summary": "Get File Downloads",
        "description": "Returns file-download clicks by URL with counts and last-downloaded time",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/events/autocapture": {
      "get": {
        "operationId": "get-sites-site-events-autocapture",
        "summary": "Get Autocapture Events",
        "description": "Returns autocaptured interactions of a type (one row per display value, with count and last occurrence)",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Group Type. e.g. company.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/events/autocapture-values": {
      "get": {
        "operationId": "get-sites-site-events-autocapture-values",
        "summary": "Get Autocapture Values",
        "description": "Returns the most common property values for an autocaptured event type",
        "tags": [
          "events"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Group Type. e.g. company.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/errors": {
      "get": {
        "operationId": "get-sites-site-errors",
        "summary": "Get Errors",
        "description": "Without error_name: unique error messages with occurrence/session counts. With error_name: individual occurrences with context and stack traces.",
        "tags": [
          "errors"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "error_name",
            "in": "query",
            "required": false,
            "description": "Example: Error message to filter by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example: 1.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Example: 10.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/errors/bucketed": {
      "get": {
        "operationId": "get-sites-site-errors-bucketed",
        "summary": "Get Error Time Series",
        "description": "Returns error occurrence counts over time",
        "tags": [
          "errors"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "error_name",
            "in": "query",
            "required": true,
            "description": "Example: Error message to filter by.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "five_minutes",
                "ten_minutes",
                "fifteen_minutes",
                "hour",
                "day",
                "week",
                "month",
                "year"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/goals": {
      "get": {
        "operationId": "get-sites-site-goals",
        "summary": "Get Goals",
        "description": "Returns paginated list of goals with conversion metrics",
        "tags": [
          "goals"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example: 1.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Example: 10.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort By.",
            "schema": {
              "type": "string",
              "enum": [
                "goalId",
                "name",
                "goalType",
                "createdAt"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      },
      "post": {
        "operationId": "post-sites-site-goals",
        "summary": "Create Goal",
        "description": "Creates a new goal",
        "tags": [
          "goals"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "goalType": {
                    "type": "string"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "pathPattern": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "My Goal",
                "goalType": "path",
                "config": {
                  "pathPattern": "/checkout/success"
                }
              }
            }
          }
        }
      }
    },
    "/sites/{site}/goals/{goalId}/sessions": {
      "get": {
        "operationId": "get-sites-site-goals-goalId-sessions",
        "summary": "Get Goal Sessions",
        "description": "Returns sessions that completed a specific goal",
        "tags": [
          "goals"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "goalId",
            "in": "path",
            "required": true,
            "description": "Example: Goal ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Example: 1.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Example: 10.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/goals/{goalId}/bucketed": {
      "get": {
        "operationId": "get-sites-site-goals-goalId-bucketed",
        "summary": "Get Goal Time Series",
        "description": "Returns bucketed session-conversion counts for a goal over the date range",
        "tags": [
          "goals"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "goalId",
            "in": "path",
            "required": true,
            "description": "Example: Goal ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "start_date",
            "description": "Start of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "end_date",
            "description": "End of the range, as `YYYY-MM-DD`.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "time_zone",
            "description": "IANA time zone used to bucket the range, e.g. `America/New_York`.",
            "schema": {
              "type": "string",
              "example": "America/New_York"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "filters",
            "description": "JSON-encoded array of filter objects, each `{ dimension, op, value }` where `value` is an array. Example: `[{\"dimension\":\"country\",\"op\":\"equals\",\"value\":[\"US\"]}]`.",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "required": false
          },
          {
            "name": "bucket",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "minute",
                "five_minutes",
                "ten_minutes",
                "fifteen_minutes",
                "hour",
                "day",
                "week",
                "month",
                "year"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/goals/{goalId}": {
      "patch": {
        "operationId": "patch-sites-site-goals-goalId",
        "summary": "Update Goal",
        "description": "Updates an existing goal",
        "tags": [
          "goals"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "goalId",
            "in": "path",
            "required": true,
            "description": "Example: Goal ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "goalType": {
                    "type": "string"
                  },
                  "config": {
                    "type": "object",
                    "properties": {
                      "eventName": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "Updated Goal",
                "goalType": "event",
                "config": {
                  "eventName": "purchase"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "delete-sites-site-goals-goalId",
        "summary": "Delete Goal",
        "description": "Deletes a goal",
        "tags": [
          "goals"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "goalId",
            "in": "path",
            "required": true,
            "description": "Example: Goal ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      }
    },
    "/sites/{site}/funnels": {
      "get": {
        "operationId": "get-sites-site-funnels",
        "summary": "Get Funnels",
        "description": "Returns all saved funnels for a site",
        "tags": [
          "funnels"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        }
      },
      "post": {
        "operationId": "post-sites-site-funnels",
        "summary": "Create Funnel",
        "description": "Creates a saved funnel",
        "tags": [
          "funnels"
        ],
        "parameters": [
          {
            "name": "site",
            "in": "path",
            "required": true,
            "description": "Site ID.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "x-mint": {
          "metadata": {
            "noindex": true
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "steps": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "name": "Conversion Funnel",
                "steps": [
                  {
                    "type": "page",
                    "value": "/",
                    "name": "Homepage"
                  },
                  {
                    "type": "page",
                    "value": "/signup",
                    "name": "Signup"
                  }
                ]
              }
[...]
